<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="fragments :: page_head(${pageTitle}, 'tag')" />

<link rel="stylesheet"
	th:href="@{/css/admin/client_apps/created_app_form.css}">
</head>
<body class="d-flex flex-column vh-100">
	<div class="container flex-grow-1">
		<div th:replace="navigation :: menu"></div>
		<div>&nbsp;</div>

		<div>
			<h2>Client Apps | [[${pageTitle}]]</h2>
		</div>

		<div>&nbsp;</div>

		<form style="max-width: 700px; margin: 0 auto">

			<div class="alert alert-success">
				<i>New client app has been created. Save Client ID and Client
					Secret for API access.</i>
			</div>
			<div>&nbsp;</div>

			<div>
				<div class="row mb-3">
					<label class="col-sm-4 col-form-label">App Name:</label>
					<div class="col-sm-8">
						<span>[[${app.name}]]</span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-4 col-form-label">Client ID:</label>
					<div class="col-sm-8">
						<span>[[${app.clientId}]]</span>
					</div>
				</div>
				<div class="row mb-3">
					<label class="col-sm-4 col-form-label">Client Secret:</label>
					<div class="col-sm-8">
						<span><b>[[${app.rawClientSecret}]]</b></span> <span
							class="text-danger">Save this client secret securely as it
							won't be shown again.</span>
					</div>
				</div>

				<div class="row mb-3">
					<label class="col-sm-4 col-form-label">Enabled Status:</label>
					<div class="col-sm-8 d-flex align-items-center">
						<input type="checkbox" readonly="readonly"
							th:checked="${app.enabled}" onclick="return false;" />
					</div>
				</div>
				<div class="text-end">
					<input type="button" value="Manage Apps" class="btn btn-secondary"
						id="buttonCancel" />
				</div>
			</div>
		</form>

	</div>

	<div th:replace="fragments :: footer"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#buttonCancel").on("click", function() {
				window.location = "[[@{'/apps'}]]";
			});
		});
	</script>
</body>
</html>