<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head th:replace="~{fragments :: page_head(${pageTitle}, 'tag')}" />

<link rel="stylesheet" th:href="@{/css/account_form.css}">
</head>
<body class="d-flex flex-column vh-100">
	<div class="container flex-grow-1">
		<div th:replace="~{navigation :: menu}"></div>
		<div>&nbsp;</div>

		<div>
			<h2>My Account Details</h2>
		</div>

		<div>&nbsp;</div>

		<form th:action="@{/account}" method="post" class="form-card"
			th:object="${userDetails}">
			<div class="form-group">
				<label class="form-label">E-mail:</label>
				<div class="form-input">
					<input type="text" th:field="*{email}" readonly /> <span
						class="form-hint">E-mail cannot be changed</span>
				</div>
			</div>

			<div class="form-group">
				<label class="form-label">Name:</label>
				<div class="form-input">
					<input type="text" th:field="*{name}" required minlength="3"
						maxlength="50" />
				</div>
			</div>

			<div class="form-group">
				<label class="form-label">New Password:</label>
				<div class="form-input">
					<input type="password" th:field="*{password}" minlength="6"
						maxlength="15" /> <span class="form-hint">Leave empty if
						you don't want to change password</span>
				</div>
			</div>

			<div class="form-group">
				<label class="form-label">Confirm New Password:</label>
				<div class="form-input">
					<input type="password" name="confirmPassword" minlength="6"
						maxlength="15" oninput="checkPasswordMatch(this)" />
				</div>
			</div>

			<div class="form-submit">
				<input type="submit" value="Save" class="btn" /> <input
					type="button" value="Cancel" class="btn btn-secondary-outline"
					id="buttonCancel" />
			</div>
		</form>

	</div>

	<div th:replace="~{fragments :: footer}"></div>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#buttonCancel").on("click", function() {
				window.location = "[[@{'/'}]]";
			});
		});
	</script>
</body>
</html>