<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<head
	th:replace="~{fragments :: page_head('Home - Weather API Client Manager', 'tag')}" />
<link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body class="d-flex flex-column vh-100">
	<div class="container flex-grow-1">
		<div th:replace="~{navigation :: menu}"></div>
		<div>&nbsp;</div>
		<div class="text-center">
			<div>
				<h2>Weather API Client Manager</h2>
			</div>
			<div>&nbsp;</div>

			<th:block sec:authorize="!isAuthenticated()">
				<div>
					<h3>
						<a th:href="@{/signup}">Sign Up</a>
					</h3>
				</div>
				<div>&nbsp;</div>
				<div>
					<h3>
						<a th:href="@{/signin}">Sign In</a>
					</h3>
				</div>
			</th:block>

			<th:block sec:authorize="isAuthenticated()">
				<div class="user-info-card">
					<div class="user-welcome">
						<h4>👋 Welcome, [[${request.userPrincipal.principal.name}]]</h4>
					</div>
					<div class="user-role">
						<h4>🔐 Your user type:
							[[${request.userPrincipal.principal.roleName}]]</h4>
					</div>
				</div>
			</th:block>

		</div>

	</div>

	<div th:replace="~{fragments :: footer}"></div>
</body>
</html>