<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
	<div th:fragment="menu">
		<form th:action="@{/signout}" method="post" th:hidden="true"
			name="logoutForm">
			<input type="submit" />
		</form>
		<nav class="dashboard-navbar">
			<div class="navbar-container">
				<a class="navbar-logo" th:href="@{/}"> <img
					th:src="@{/images/appicon.png}" width="36" height="36" />
				</a>
				<div class="navbar-content">
					<ul class="navbar-links">
						<th:block sec:authorize="isAuthenticated()">
							<span class="navbar-welcome"> [&nbsp;&nbsp;<i>Welcome,
									<span sec:authentication="principal.name"></span>
							</i>
							</span>
							<li><a th:href="@{/account}">Account</a></li>
							<li><a id="linkSignout" href="">Sign Out</a></li>
							<span class="navbar-welcome">]</span>
						</th:block>
						<th:block sec:authorize="!isAuthenticated()">
							<span class="navbar-welcome">[&nbsp;&nbsp;<i>Welcome
									Guest</i>&nbsp;&nbsp;]
							</span>
						</th:block>

						<th:block sec:authorize="hasAuthority('ADMIN')">
							<li><a th:href="@{/users}">All Users</a></li>
							<li><a
								th:href="@{/users/page/1(sortField=name,sortDir=asc,keyword=ADMIN)}">Admin
									Users</a></li>
							<li><a
								th:href="@{/users/page/1(sortField=name,sortDir=asc,keyword=CLIENT)}">Client
									Users</a></li>
							<li><a th:href="@{/apps}">Client Apps</a></li>
						</th:block>

						<th:block sec:authorize="hasAuthority('CLIENT')">
							<li><a th:href="@{/myapps}">My Apps</a></li>
						</th:block>

						<th:block sec:authorize="!isAuthenticated()">
							<li><a th:href="@{/signin}">Sign In</a></li>
							<li><a th:href="@{/signup}">Sign Up</a></li>
						</th:block>
					</ul>
				</div>
			</div>
		</nav>
	</div>
</body>
</html>