<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<head
	th:replace="~{fragments :: page_head('Sign In - Weather API Client Manager', 'tag')}" />

<link rel="stylesheet" type="text/css" th:href="@{/css/signin.css}" />
</head>
<body class="d-flex flex-column vh-100">
	<div class="container flex-grow-1">
		<div th:replace="~{navigation :: menu}"></div>
		<div>&nbsp;</div>

		<div class="text-center">
			<h2>Sign in Weather API Client Manager</h2>
		</div>

		<div>&nbsp;</div>

		<!-- Form Sign In -->
		<form th:action="@{/signin}" method="post" class="signin-form">
			<div th:if="${param.error}">
				<p class="text-danger">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
			</div>
			<!-- ... -->
			<div class="form-card">
				<!-- Email -->
				<div class="form-group">
					<label class="form-label">E-mail:</label>
					<div class="form-input">
						<input type="email" name="email" required minlength="8"
							maxlength="50" />
					</div>
				</div>
				<!-- Password -->
				<div class="form-group">
					<label class="form-label">Password:</label>
					<div class="form-input">
						<input type="password" name="password" required minlength="6"
							maxlength="15" />
					</div>
				</div>
				<!-- Submit -->
				<div class="form-submit">
					<input type="submit" value="Sign In" class="btn btn-primary" />
				</div>
			</div>
		</form>

	</div>

	<div th:replace="~{fragments :: footer}"></div>
</body>

</html>